<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lcaelr</key>
	<array>
		<string>recall</string>
		<string>caller</string>
		<string>call</string>
	</array>
	<key>rrtoac</key>
	<array>
		<string>act</string>
		<string>carrot</string>
		<string>rat</string>
	</array>
</dict>
</plist>
